.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  text-decoration: none;
  color: $active;
  letter-spacing: 0.03em;

&-title {
  color: $black;
  margin-right: 93px;
}

&-title-2 {
  color: $white;
}
}