.our-adv {
  padding-bottom: 0px;
}

.list-adv {
  width: calc((100% - 3 * 30px) / 4);
}

.list-adv::before {
  content: '';
  display: block;
  height: 120px;
  background-color: $background-2;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 25px 100px;
  margin-bottom: 30px;
}

.list-adv:nth-child(1)::before {
  background-image: url(../svg/1antenna.svg);
}

.list-adv:nth-child(2)::before {
  background-image: url(../svg/2clock.svg);
}

.list-adv:nth-child(3)::before {
  background-image: url(../svg/3diagram.svg);
}

.list-adv:nth-child(4)::before {
  background-image: url(../svg/4astronaut.svg);
}

.description {
  margin: 0px;
}

